server {
    listen          80;
    server_name     localhost;

    location /zabbix {
        alias /usr/share/zabbix/ui/;
        index index.php;
    }

    location ~ ^/zabbix(.+\.php)$ {
        alias /usr/share/zabbix/ui/;
        fastcgi_pass    unix:/run/php-fpm/zabbix.sock;
        fastcgi_index   index.php;
        fastcgi_param   SCRIPT_FILENAME /usr/share/zabbix/ui$1;
        include         fastcgi_params;
    }

    location /zabbix/assets {
        access_log off;
        expires 10d;
    }

    location = /zabbix/favicon.ico {
        log_not_found off;
    }

    location ~ ^/zabbix/\.ht {
        deny all;
    }

    location ~ ^/zabbix/(api\/|conf[^\.]|include|locale|vendor) {
        deny all;
        return 404;
    }
}
